# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables file
.env

# Virtual environment
venv/

# file extensions
**/*.jpg
**/*.json